.main-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  gap: 20px; /* Add spacing between columns */
}

.section {
  padding: 10px;
}

.section-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  display: flex; /* Use flexbox for layout */
  width: 100%; /* Take full width of the section */
  height: 200px; /* Adjust height as needed */
  /* border: 1px solid black; */
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e6e6e6;
}

.card-content {
  flex-grow: 1; /* Take up remaining space */
  padding-right: 10px;
  color: black;
}

.card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
