#root {
  max-width: 2000px;

  /* Reduce padding here if needed */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.two {
  display: grid;
  width: 100%;
  gap: 30px;

  grid-template-columns: repeat(4, 1fr);
  /* 4 equal columns */
  grid-template-rows: 10px auto auto auto 50px;
  grid-template-areas:
    "Columns Columns Columns Columns"
    " content content content right"
    " content content content right"
    " content content content right"
    "end end end end";
}

/* .Header {
  grid-area: Columns;
  width: 100%;
  height: 100px;
  padding: 1rem;
  color: #191919;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.main {
  grid-area: content;
  padding: 2rem;
  /* background-color: grey; */
}

.aside {
  grid-area: right;
  padding: 5rem 1rem;
  width: 310px;
}

.footer {
  grid-area: end;
  padding: 1rem;
}