#root {
  max-width: 2000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.two {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10px auto auto auto 50px;
  grid-template-areas:
    "Columns Columns Columns Columns"
    " content content content right"
    " content content content right"
    " content content content right"
    "end end end end";
}

.main {
  grid-area: content;
  /* background-color: grey; */
}

.aside {
  grid-area: right;
  padding: 0.5rem 0.5rem;
  margin-left: 1rem;
}

.footer {
  grid-area: end;
}

.active-link {
  color: #aa3030 !important;
}

.inactive-link {
  color: #191919 !important;
}