/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; 

  align-items: center;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.two {
  display: grid;
  width: 80%;
  gap: 10px;
  margin: auto;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "Columns Columns Columns Columns"
    " content content content right"
    " content content content right"
    " content content content right"
    "end end end end";
}

.Header {
  grid-area: Columns;
  width: 100%;
  background: lightblue;
  padding: 1rem;
  color: black;
  height: 100px;
  background-color: #191919;
}

.main {
  grid-area: content;
  background-color: grey;
}
.aside {
  grid-area: right;
  padding: 1rem;
  width: 300px;
  background-color: grey;
}

.footer {
  grid-area: end;
  background-color: white;
  padding: 1rem;
}
