.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 20px;
  background-color: #e6e6e6;
  color: #c83131;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
}

.logo-img {
  height: 70px;
  width: auto;
}

button {
  background-color: transparent;
  border: none;
  color: #191919;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  color: #aa3030;
}

button:focus {
  outline: none;
}


.navbar {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 9px 20px;
  font-weight: bold;
}

.navbar a {
  color: #191919;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color: #aa3030;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #191919;
}

.login i {
  margin-right: 10px;

}

.login:hover {
  color: #aa3030;
}