.headerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e6e6e6;
  font-size: larger;
}

.logo {
  text-align: center; /* Center the heading and logo */
}

.logo img {
  display: block; /* Display the image as a block element */
  width: 5em;
}

.nav-links {
  padding: 0.5rem;
}

.nav-links a {
  color: black;
  text-decoration: none;
  padding: 30px;
  color: #e6e6e6;
}

.nav-links ul li a:hover {
  text-decoration: underline;
}
