.headerbar {
  display: flex;
  justify-content: space-between; /* Space out the main sections */
  align-items: center; /* Align items vertically */
  width: 100%; /* Full width of header */
  max-width: 1280px; /* Restrict width */
  margin: 0 auto; /* Center the header content */
  color: #191919;
  font-size: larger;
  font-weight: bold;
}

.logo {
  flex: 0 0 auto; /* Keep the logo fixed on the left */
  display: flex;
  align-items: center; /* Vertically align */
}

.logo img {
  display: block;
  width: 6em; /* Adjust logo size */
  height: auto; /* Maintain aspect ratio */
}

.nav-links {
  padding: 0.5rem;
}

.nav-links a {
  color: #191919;
  text-decoration: none;
  padding: 30px;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #aa3030;
}

.login:hover {
  color: #aa3030;
}
